bundle:
  name: LiveValidator

include:
  - resources/*.yml

workspace:
  root_path: /Workspace/LiveValidator

resources:
  apps:
    live_validator:
      name: live-validator
      description: Compare tables or query results across systems
      source_code_path: src/app
      permissions:
        - level: CAN_USE
          group_name: users
      resources:
        - name: postgres
          database:
            database_name: databricks_postgres
            instance_name: ${resources.database_instances.live_validator_database.name}
            permission: CAN_CONNECT_AND_CREATE
        - name: run_validation
          job:
            id: ${resources.jobs.run_validation.id}
            permission: 'CAN_MANAGE_RUN'

  database_instances:
    live_validator_database:
      name: live-validator
      enable_pg_native_login: true
      capacity: CU_1
  database_catalogs:
    live_validator_catalog:
      database_instance_name: ${resources.database_instances.live_validator_database.name}
      name: live_validator
      database_name: databricks_postgres
      create_database_if_not_exists: true

  clusters:
    live_validator_cluster:
      cluster_name: live-validator
      node_type_id: i3.2xlarge
      driver_node_type_id: i3.2xlarge
      autoscale:
        min_workers: 1
        max_workers: 8
      aws_attributes:
        availability: ON_DEMAND
      spark_version: 17.3.x-scala2.13
      autotermination_minutes: 0
      enable_local_disk_encryption: false
      data_security_mode: USER_ISOLATION
      runtime_engine: PHOTON

targets:

  permissions:
  - user_name: <deployer_email>
    level: CAN_MANAGE
  
  migr-prod:
    default: true
    mode: production
    workspace:
      host: https://your-deployment-workspace.cloud.databricks.com/
      root_path: /Workspace/LiveValidator
    permissions:
      - level: CAN_MANAGE
        group_name: 1dp-migration-prd-admin
      - level: CAN_RUN
        group_name: users

    resources:
      clusters:
        live_validator_cluster:
          spark_conf:
            spark.your.additiona.config: 'true'
          permissions:
            - group_name: users
              level: CAN_ATTACH_TO
            - group_name: 1dp-migration-prd-admin
              level: CAN_MANAGE
      jobs:
        run_validation:
          tasks:
            - task_key: validate
            # add all libraries to UC allowlist
              libraries:
                - maven:
                    coordinates: com.teradata.jdbc:terajdbc:20.00.00.51
                - maven:
                    coordinates: com.oracle.database.jdbc:ojdbc11:23.5.0.24.07
          permissions:
            - level: CAN_MANAGE
              group_name: 1dp-migration-prd-admin
